inputs_def:
  - handle: audio_source
    description: Input
    json_schema:
      contentMediaType: oomol/var
    kind: audio
  - handle: file_name
    json_schema:
      type: string
    value:
    nullable: true
  - handle: format
    json_schema:
      type: string
      enum:
        - mp3
        - aac
        - wav
        - flac
        - wma
        - m4a
      ui:options:
        labels:
          - MP3
          - AAC
          - " WAV"
          - FLAC
          - WMA
          - M4A
    value:
    nullable: true
  - handle: save_address
    json_schema:
      type: string
      minLength: 1
      ui:widget: dir
    value:
    nullable: true
outputs_def:
  - handle: file_adress
    description: Output
    json_schema:
      type: string
      minLength: 1
      ui:widget: file
icon: ":carbon:document-audio:"
ui:
  default_width: 447.06350824621484
executor:
  name: nodejs
  options:
    spawn: false
    entry: main.ts
title: Save Audio
